{{/* Load academicons for all pages */}}
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css"
/>

{{/* Load custom social icons CSS */}} {{- $socialIconsCSS := resources.Get
"css/custom/social-icons.css" }} {{- if $socialIconsCSS }} {{- $socialIconsCSS
:= $socialIconsCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $socialIconsCSS.RelPermalink }}" />
{{- end }} {{/* Custom CSS and JS for publications page */}} {{- if eq .Section
"papers" }} {{/* Load CSS */}} {{- $publicationsCSS := resources.Get
"css/custom/publications.css" }} {{- if $publicationsCSS }} {{- $publicationsCSS
:= $publicationsCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $publicationsCSS.RelPermalink }}" />
{{- end }} {{/* Load JS */}} {{- $publicationsJS := resources.Get
"js/publications.js" }} {{- if $publicationsJS }} {{- $publicationsJS :=
$publicationsJS | resources.Minify }}
<script defer src="{{ $publicationsJS.RelPermalink }}"></script>
{{- end }} {{- end }}
